<app-header></app-header>
<!-- <h2>Hello{{searchKey}}</h2> -->
<!-- <h2>Hello{{description}}</h2> -->
<span *ngFor="let item of details | filter:searchKey:'title'" >
    
    <div style="width: 90%; margin: 0 auto;">
    <div class="card" style="width: 260px;float:left; height: 400px; margin: 10px; ">
        <img src={{item.image}} class="card-img-top" alt="..." style="height: 250px; width: 200px; margin: 0 auto;padding: 10px;">
        <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
            <p class="card-text">Price: ${{item.price}}
            <!-- <p class="card-text">{{item.description}} -->
            </p>
            <a (click)="productsInCart(item)" class="btn btn-primary">Add to Cart</a>
        </div>
    </div>
   </div>
</span>

<router-outlet></router-outlet>